ol,
ul {
  margin: 0;
  padding-left: 40px !important;
}

h1 {
  font-size: 20px !important;
  line-height: 1.5;
}
pre,
code,
samp {
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  max-width: 100%;
  min-width: 100px;
}

hr {
  border-top-width: 2px !important;
  margin-top: 10px !important;
}

blockquote {
  color: #666;
  font-style: italic;
  margin: 0;
  padding-left: 2em;
  border-left: 0.5em rgb(185, 185, 185) solid;
}

kbd {
  color: rgb(102, 102, 102) !important;
  padding: 3px 2px;
}

body {
  transition: color 1s;
}

p, img {
  margin: auto;
}

.subHeading {
  font-size: 20px;
  font-weight: bold;
}

.example::-webkit-scrollbar {
  display: none;
}

@keyframes bgcolor {
  0% {
    border-color: #0037DA;
  }
  30% {
    border-color: #3A96DD;
  }
  60% {
    border-color: #13A10E;
  }
  90% {
    border-color: #881798;
  }
  100% {
    border-color: #C50F1F;
  }
}

.background-image {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 30vh;
  overflow: hidden;
}

.bg-change {
  -webkit-animation: bgcolor 20s infinite;
  animation: bgcolor 10s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.rocket-hover:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.card-image {
  display: block !important;
}

@media screen and (max-width: 1400px) {
  .blog-body {
    max-width: 75vw !important;
  }

  .card-image {
    display: block !important;
  }
}

@media screen and (max-width: 500px) {
  .blog-body {
    max-width: 90vw !important;
  }

  .card-image {
    display: none !important;
  }
}
